{% extends 'base.html.twig' %}

{% block title %}Note index{% endblock %}

{% block body %}
	<main id="main-content" class="note-bg">
		<div class="map-child">

    <h1>Notes</h1>
    <section id="note-card">
        {% for note in notes %}
        <div class="note">
            <p> Agent : {{note.agent.name}}</p>
            <p>Classe de l'agent {{note.agent.classe.name}}</p>
            <p>Carte: {{note.map.name}}</p>
            <p>Commentaire : {{ note.text }}</p>
            <div>
            <button>
                <a href="{{ path('app_note_edit', {'id': note.id}) }}">Editer</a>
            </button>
            </div>
        </div>
        {% else %}
        <div class="note">
            <p>Pas de note</p>
        </div>
        {% endfor %}
    </section>
    <button>
        <a href="{{ path('app_note_new') }}">Créer note</a>
    </button>
        </div>
    </main>
{% endblock %}
